
# packages utilisés dans le cadre du projet

aiohttp
asyncio
bs4


ipywidgets
IPython
joblib
lxml
# lxml.html

matplotlib
# matplotlib.pyplot
nest_asyncio
numpy
pandas
requests

scipy
# scipy.stats
seaborn

scikit-learn
# sklearn.cluster
# sklearn.linear_model
# sklearn.metrics
# sklearn.model_selection
# sklearn.preprocessing

statsmodels
# statsmodels.api
# statsmodels.formula.api

unidecode
